.center {
  text-align: center;
  border: 5px dotted rgb(74, 4, 74);
  background-color: rgb(187, 158, 214);

}

 .flowers {
    background-image: url("../images/wildflower-background.jpeg");
    width: 100%;
  
}

.sidebar {
  float: right;
  width: 50%;
  background-color: rgb(212, 204, 220);
}

.about-me {
  margin-left: auto; margin-right: auto;
  box-shadow: 10px; color: rgb(73, 43, 100);
  padding: 20px;
}
