
.flowers {
    background-image: url("../images/wildflower-background.jpeg");
    padding: 20px;
    background-size: cover;
}

.clouds {
  background-image: url("../images/peach-waves.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.sidebar {
  float: right;
  width: 50%;
  background-color: rgb(212, 204, 220);
  margin-right: 20px;
}

.new-skills {
  background-color: rgb(226, 127, 160);
}

.l-column {
  width: 50%;
  float: left;
  text-align: center;
  padding: 20px;
}

.r-column {
  width: 50%;
  float: right;
  text-align: center;
  padding: 20px;
}
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border: 10px solid rgba(73, 43, 100, 0.816); 
}

.heading {
  text-align: center;
  padding: 10px;
  font-family: Georgia;
  font-size: 200%;
  margin: 20px;
  background-color: rgba(73, 43, 100, 0.816);
  
}

.peachy {
  color: black;
  background-color: rgba(192, 147, 120, 0.683);
  font-family: Georgia;
  margin: 20px;
  padding: 20px;
}

h3 {
  text-align: center;
  font-size: x-large;
  color: rgb(41, 9, 71);
}

p {
font-size: larger;
}
